ANS1

In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [12]:
df['duration']

0    2
1    3
2    6
3    4
Name: duration, dtype: int64

ANS2

In [14]:
"""Difference between loc and iloc
1.  loc():- loc function is used to find the the data in any dataframe on the basis of column name which is present inside the dataframe

2. iloc():-iloc method is used to find the value of any Dataframe on the basis of index which is present in to any datframe 

"""

'Difference between loc and iloc\n1.  loc():- loc function is used to find the the data in any dataframe on the basis of column name which is present inside the dataframe\n\n2. iloc():-iloc method is used to find the value of any Dataframe on the basis of index which is present in to any datframe \n\n'

ANS3

In [19]:
import pandas as pd
import numpy as np


columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

reindex = [3,0,1,2]
new_df = df1.reindex(reindex)


print(new_df.loc[2])   
print(new_df.iloc[2])

column_1    0.721813
column_2    0.533964
column_3    0.361109
column_4    0.948773
column_5    0.395228
column_6    0.002254
Name: 2, dtype: float64
column_1    0.662629
column_2    0.446218
column_3    0.839376
column_4    0.211707
column_5    0.714237
column_6    0.189669
Name: 1, dtype: float64

ANS4

In [26]:
import pandas as pd
import numpy as np


columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [27]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.424059  0.179380  0.976979  0.515495  0.885785  0.989151
2  0.481289  0.218434  0.387582  0.072335  0.643976  0.779592
3  0.250812  0.117422  0.058025  0.181057  0.929357  0.035473
4  0.990467  0.264534  0.025506  0.664417  0.665828  0.626215
5  0.057895  0.925137  0.610499  0.700795  0.643917  0.100012
6  0.745174  0.055634  0.069141  0.625604  0.758062  0.779600

In [28]:
df1.columns

Index(['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6'], dtype='object')

In [30]:
df1[['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']].mean()

column_1    0.491616
column_2    0.293424
column_3    0.354622
column_4    0.459951
column_5    0.754487
column_6    0.551674
dtype: float64

In [31]:
df1['column_2'].std()

0.31813398565725076

ANS5

In [3]:
"""import pandas as pd
import numpy as np


columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# replace the data in the second row of column_2
df1.loc[2, 'column_2'] = 'string'

# find the mean of column_2
mean_col2 = df1['column_2'].mean()
print(mean_col2)"""

"import pandas as pd\nimport numpy as np\n\n\ncolumns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']\nindices = [1,2,3,4,5,6]\ndf1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)\n\n# replace the data in the second row of column_2\ndf1.loc[2, 'column_2'] = 'string'\n\n# find the mean of column_2\nmean_col2 = df1['column_2'].mean()\nprint(mean_col2)"

ANS6

In [4]:
"""  In pandas, a window function (also known as a rolling or moving function) is a 
function that is applied to a sliding window of data over a specified time period or number of rows. 
The window function is applied to the data in each window, producing a new output value for each window.
Window functions are useful for calculating rolling statistics, smoothing data, and identifying trends and
patterns in time series data.

df4 = pd.DataFrame({'a':[1,2,3,4,5,6,7,8,9]})

df4.rolling(window=1).mean()

df4.rolling(window=2).mean()

df4.rolling(window=3).mean()

df4.rolling(window=3).sum()

df4.rolling(window=3).min()


"""

"  In pandas, a window function (also known as a rolling or moving function) is a \nfunction that is applied to a sliding window of data over a specified time period or number of rows. \nThe window function is applied to the data in each window, producing a new output value for each window.\nWindow functions are useful for calculating rolling statistics, smoothing data, and identifying trends and\npatterns in time series data.\n\ndf4 = pd.DataFrame({'a':[1,2,3,4,5,6,7,8,9]})\n\ndf4.rolling(window=1).mean()\n\ndf4.rolling(window=2).mean()\n\ndf4.rolling(window=3).mean()\n\ndf4.rolling(window=3).sum()\n\ndf4.rolling(window=3).min()\n\n\n"

ANS7

In [10]:

from datetime import datetime

now = datetime.now()
curr_month = now.month
curr_year = now.year

print(f"current month and year:{curr_month}/{curr_year}")

current month and year:3/2023

ANS8

In [11]:
import pandas as pd


date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")


date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)


delta = date2 - date1


days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds // 60) % 60


print(f"The difference between {date1_str} and {date2_str} is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD): 2022-11-02
Enter the second date (YYYY-MM-DD): 2023-7-24
The difference between 2022-11-02 and 2023-7-24 is 264 days, 0 hours, and 0 minutes.

ANS9

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


file_path = input("Enter the file path for the sales data CSV file: ")


df = pd.read_csv(file_path)


df['date'] = pd.to_datetime(df['date'])


grouped = df.groupby(['category', 'date']).sum()


pivoted = grouped.pivot_table(values='sales', index='date', columns='category', fill_value=0)


pivoted.plot(kind='bar', stacked=True)


plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales by Product Category over Time')


plt.show()

ANS10

In [ ]:
import pandas as pd

# prompt the user to enter the file path
file_path = input("Enter the file path for the student data CSV file: ")

# read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# calculate the mean, median, and mode of the test scores
mean_score = df['score'].mean()
median_score = df['score'].median()
mode_score = df['score'].mode()[0]

# create a table of the results
results = pd.DataFrame({'Mean Score': [mean_score], 'Median Score': [median_score], 'Mode Score': [mode_score]})

# display the table
print(results)