ANS1

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

ANS2

In [7]:
import pandas as pd

list1 = [1,2,3,4,5,6,7,8,9,10]

series  = pd.Series(list1)
print(series)
type(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

pandas.core.series.Series

ANS3

In [5]:
data = {"Name":
        ["Alice", "Bob", "Claire"],
        "age":[23,43,12],
        "gender":["male","female","not preferto say"]
}

data1 = pd.DataFrame(data)
print(data1)

     Name  age            gender
0   Alice   23              male
1     Bob   43            female
2  Claire   12  not preferto say

In [6]:
type(data1)

pandas.core.frame.DataFrame

ANS4

In [8]:
"""Pandas Dataframe:-In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types.
It is similar to a table in a relational database or a spreadsheet in Excel. Each column in a DataFrame is a Pandas Series object.

Pandas Series :- Pandas Series, on the other hand, is a one-dimensional labeled array that can hold any data type. 
It is similar to a single column in a DataFrame."""

'Pandas Dataframe:-In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types.\nIt is similar to a table in a relational database or a spreadsheet in Excel. Each column in a DataFrame is a Pandas Series object.\n\nPandas Series :- Pandas Series, on the other hand, is a one-dimensional labeled array that can hold any data type. \nIt is similar to a single column in a DataFrame.'

In [13]:
import pandas as pd

list1  = [2,3,4,5,6,7]
seris = pd.Series(list1)
print(seris)
type(seris)

data = {"name":["Deepak","govind","krish"],
        "phone":[2354789635,2544789658,3256895968],
        "add":[12,34,56]}
dataframe = pd.DataFrame(data)
type(dataframe)

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int64

pandas.core.frame.DataFrame

ANS5

In [16]:
""" 1. head():this function is used to return  generally the n numbers of values from above the tables
2. tail(): this function is used to  return generally the n number of values fron the below of the table
3.info(): This function can be used to get a summary of the DataFrame's columns, including their data types, non-null values, and memory usage.

d4.escribe(): This function provides a statistical summary of the DataFrame's numerical columns, including count, mean, standard deviation, minimum, maximum, and quartile values.

5.sort_values(): This function can be used to sort the DataFrame by one or more columns."""

data = {"name":["Deepak","govind","krish"],
        "phone":[2354789635,2544789658,3256895968],
        "add":[12,34,56]}
dataframe = pd.DataFrame(data)
type(dataframe)
dataframe.head(2)
dataframe.tail(2)

     name       phone  add
1  govind  2544789658   34
2   krish  3256895968   56

ANS6

In [17]:
"""In Pandas, both Series and DataFrame are mutable in nature, which means that their values can be changed after they are created.

A Pandas Series is a one-dimensional labeled array that can hold any data type. It is mutable because you can change the values 
of its elements using indexing or slicing operations.

A Pandas DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is mutable because you can add or remove columns, 
as well as change the values of its elements using indexing or slicing operations.

However, Pandas Panel is an advanced data structure that is not widely used in practice. 
It is a three-dimensional labeled array that can hold any data type. Panels are less commonly used in Pandas,
and are considered less efficient and less flexible than DataFrames. Panels are also mutable in nature, but due to their limited use,
they are not as important to know as Series and DataFrame."""

'In Pandas, both Series and DataFrame are mutable in nature, which means that their values can be changed after they are created.\n\nA Pandas Series is a one-dimensional labeled array that can hold any data type. It is mutable because you can change the values \nof its elements using indexing or slicing operations.\n\nA Pandas DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is mutable because you can add or remove columns, \nas well as change the values of its elements using indexing or slicing operations.\n\nHowever, Pandas Panel is an advanced data structure that is not widely used in practice. \nIt is a three-dimensional labeled array that can hold any data type. Panels are less commonly used in Pandas,\nand are considered less efficient and less flexible than DataFrames. Panels are also mutable in nature, but due to their limited use,\nthey are not as important to know as Series and DataFrame.'

ANS7

In [18]:
import pandas as pd

# Create three Series
name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 35])
gender = pd.Series(['F', 'M', 'M'])

# Create a DataFrame from the Series
df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})

# Print the DataFrame
print(df)

      Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M